/* PrimeNG Imports */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

*{
    font-family:'Amazon Ember';
    margin: 0;
}

/* Rating Customization */
@layer reset, primeng;

@layer reset {
    .p-rating-icon{
        color: #FFA41C;
    }
}